/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root {
  --background-color-dark-theme: #000028;
  --header-text-dark-theme: #DB00FF;
  --text-color-dark-theme:#F1B2CE;
  --accent-color-dark-theme: #ff0070;
  --title-color-dark-theme: #000028;
  --title-weight: 700;
  --section-title-color-dark-theme:#FF0070;
} 

.page.theme_dark {
  color-scheme: dark;
  --background-color: var(--background-color-dark-theme);
  --header-text: var(--header-text-dark-theme);
  --text-color: var(--text-color-dark-theme);
  --accent-color: var(--accent-color-dark-theme);
  --title-color: var(--title-color-dark-theme);
  --section-title-color: var(--section-title-color-dark-theme);
  background-image: url('../images/cover-image-dark.png');
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

@media (prefers-color-scheme: dark) {
  .page {
    --background-color: var(--background-color-dark-theme);
    --header-text: var(--header-text-dark-theme);
    --text-color: var(--text-color-dark-theme);
    --accent-color: var(--accent-color-dark-theme);
    --title-color: var(--title-color-dark-theme);
    --section-title-color: var(--section-title-color-dark-theme);
    background-image: url('../images/cover-image-dark.png');
  }
}