/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-color: var(--background-color-light-theme);
  --text-colore: var(--title-color-light-theme);
  --accent-color: var(--accent-color-light-theme);
  --title-color: var(--title-color-light-theme);
  --title-weight: 700;
} 
